/*
#container {
    margin: 50px auto;
    width: 500px;
    border: 1px solid #000;
    padding: 10px;
} */

/*
#box1 {
    background-color: #77AF00; /
    height: 100px;
    width: 100px;
    margin: 10px;
}
/*
#box2 {
    background-color: #1969B2; /* blueish
    height: 150px;
    width: 150px;
    margin: 10px;
}
*/

.box {

    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    color: white;
    float: left;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 50px;
    position: relative;



}

img {
    position: absolute;
    top: -45px;
    left: 50px;

}

.box:nth-child(3), .box:nth-child(5){
    clear:left;
}

.red {
    background: red;
    margin-left: 1px;
}
.orange {
    background: orange;
}
.yellow {
    background: yellow;
}

.green {
    background: green;
}
.blue {
    background: blue;
}

.purple {
    background: purple;
}

